@charset "utf-8";
/*
*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1 Tahoma, Helvetica, "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "STHeiti,MingLiu";}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}small{font-size:12px;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{display:block;margin:0;padding:0;}mark{background:#ff0;}html { overflow-y: scroll; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

a { color:#626161; text-decoration:none; }a:hover { color: #F66E32; text-decoration:none; }
.fl { float:left; }.fr { float:right; }

body { font-size: 12px; color: #595757; background:#f4f4f4;
    position: relative;}

.green { color: #5AC10E;}
.red { color: #F27411;}
.orange {
    color: #f60;
}

div.page-black-red { margin: 50px 0px; text-align: center; font-size: 11px; color: #333; font-family: tahoma, arial, helvetica, sans-serif;}
div.page-black-red a { font-size: 12px; line-height: 12px; padding: 3px 8px; margin: 2px 3px; color: #333; background-color: #EAF3FF; border: 1px solid #83C1E0; text-decoration: none; display: inline-block;}
div.page-black-red a:hover { color: #0188CC; background-color: #fff}
div.page-black-red a:active { color: #fff; background-color: #ec5210}
div.page-black-red span.current { font-size: 12px; line-height: 12px; padding: 2px 8px;font-weight: bold; margin: 2px 3px; color: #000; background-color: #EAF3FF; border: 1px solid #83C1E0;}
div.page-black-red span.disabled { font-size: 12px; line-height: 12px; padding: 2px 8px; margin: 2px 3px; color: #868686; background-color: #EAF3FF; border: 1px solid #83C1E0;}

/* 重置typography.css 部分样式 */
.p-con {
    height: auto;
}
.admin-con {
    padding-left: 20px;
    padding-right: 20px;
}

/*表格*/
.tableA {
    border: 1px solid #c7cfef;
    border-width: 1px 0 0 1px;
    margin: 2px 0 2px 0;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.tableA th, .tableA td {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ccd0cf;
    border-width: 0 1px 1px 0;
    margin: 2px 0 2px 0;
    text-align: center;
    /*height:35px;*/
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.tableA td a {
    color: #06F;
    text-decoration: none;
    margin: 0 2px;
    line-height: 30px;
}

.tableA td a:hover {
    color: #009;
    text-decoration: underline;
}

.tableA td#textLeft {
    text-align: left;
    padding-left: 20px;
}

.tableA th {
    height: 30px;
    background: #efefef;
    font-weight: bold;
}

.tableA td img {
    padding: 2px;
    border: 1px solid #999;
    width: 50px;
    height: 50px;
}

.tableA td#duanxin img {
    width: 23px;
    height: 18px;
    border: 0;
    padding-top: 0;
    margin-top: 5px;
}

.tableA td#duanxin a {
    float: left;
}

.tableA td#duanxin {
    padding-left: 13px;
}

/*.tableoddcolor{ background:#F2F2F2;}
.tableevencolor{ background:#F7F9FF;}
.tablehovercolor{ background:#D9ECFF}
.tableclickcolor{ background:#FFD9E2;}*/

.tableB {
    border: 1px solid #c7cfef;
    border-width: 1px 0 0 1px;
    margin: 2px 0 2px 0;
    text-align: center;
    border-collapse: collapse;
    margin: 10px auto;
}

.tableB th, .tableB td {
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ccd0cf;
    border-width: 0 1px 1px 0;
    margin: 2px 0 2px 0;
    text-align: center;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.tableB td a {
    color: #06F;
    text-decoration: none;
    margin: 0 3px;
}

.tableB td a:hover {
    color: #009;
    text-decoration: underline;
}

.tableB td#textLeft {
    text-align: left;
    padding-left: 20px;
}

.tableB th {
    height: 30px;
    background: #FAFAFA;
    font-weight: bold;
}

.tableB td img {
    padding: 2px;
    border: 1px solid #999;
    width: 50px;
    height: 50px;
}

.tableC {
    margin: 0 auto;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.tableC span {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}

.tableC th {
    text-align: right;
    padding-right: 10px;
    color: #222;
}

.tableC td {
    text-align: left;
    height: 40px;
    line-height: 40px;
}

.tableC img {
    width: 300px;
    height: 150px;
    padding: 2px;
    border: 1px solid #999;
}

.tableA .red {
    color: #F00
}

.tableA .green {
    color: #090
}

.tableA .orange {
    color: #F60
}

.gray {
    color: #aaa;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.fb {
    font-weight: bold;
}
.w400 {
    width: 400px!important;
}
.w520 {
    width: 520px!important;
}
.mt10 {
    margin-top: 10px!important;
}
.mt20 {
    margin-top: 20px!important;
}
.mt30 {
    margin-top: 30px!important;
}
.mt40 {
    margin-top: 40px!important;
}
.ml4 {
    margin-left: 4px!important;
}
.ml20 {
    margin-left: 20px!important;
}
.mr4 {
    margin-right: 4px!important;
}
.mr16 {
    margin-right: 16px!important;
}
.mr20 {
    margin-right: 20px!important;
}
.p8 {
    padding: 8px!important;
}
.p10 {
    padding: 10px!important;
}
.songti {
    font-family:"宋体"!important;
}
.yahei {
    font-family:"微软雅黑"!important;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 12px;
}
.f16 {
    font-size: 12px;
}
.lh28 {
    line-height: 28px;
}
.lh30 {
    line-height: 30px;
}
/* 按钮组 */
/* btn 固定所有按钮宽高和间距 */
.btn {
    background: #ddd;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #f8f8f8;
    text-align: center;
    line-height: 30px;
    border: none;
    display: block;
    cursor: pointer;
    font-family: "微软雅黑";
}
.btn-gray {
    color: #575757;
}
.btn-gray:hover {
    background: #aaa;
    color: #fff;
}

.rule-table {
    font-family: "宋体", Tahoma, Arial;
}
.rule-table table tr td {
    font-size: 13px;
}
.rule-table table tr td div.tl {
    margin-bottom: 10px;
}
.rule-table table label, .rule-table table .input-search, .rule-table table input, .rule-table table select, .rule-table table .close {
    margin-right: 8px;
    display: block;
    float: left;
    line-height: 28px;
    vertical-align: middle;
}
.rule-table table label {
    width: 70px;
}
.rule-table table input {
    width: 120px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: 1px solid #c0bfbf;
}
.rule-table table input.input_01 {
    width: 116px;
    margin-right: 16px;
    padding-right: 20px;
}
.rule-table table input.input_02 {
    width: 54px;
}
.rule-table table select {
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.rule-table table .input-search {
    position: relative;
    margin-right: 0;
}
.rule-table table .search-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    display: block;
    width: 16px;
    height: 19px;
    background: url("../images/serch-icon.png") no-repeat;
    cursor: pointer;
}
.rule-table table .close {
    width: 16px;
    height: 16px;
    border: none;
    margin-top: 7px;
    background: url("../images/reg_x.jpg") no-repeat;
    background-size: 16px 16px;
}


/* 弹出框 */
.popup {
    overflow-y: scroll;
    color: #333;
}

.popupBg {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 2000;
}
.popup-wrap {
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    z-index: 2001;
    text-align: center;
}
.popup-align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.popup .popup-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-width: 400px;
    visibility: visible;
    opacity: 1;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 40px;
}
.popup .popup-box .popup-tit {
    position: relative;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #e4ebec;
    padding: 0 26px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 5px 5px 0 0;
}
.popup .popup-box .popup-tit .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 24px;
    opacity: 0.2;
    text-decoration: none;
}
.popup .popup-box .popup-tit .close:hover {
    opacity: 0.4;
}
.popup .popup-box .popup-cont {
    padding: 20px 12px 0;
}
.popup .popup-box .popup-cont .table {
    margin-top: 20px;
}
.popup .popup-box .search-box {
    text-align: center;
}
.popup .popup-box .search-box label, .popup .popup-box .search-box input, .popup .popup-box .search-box .btn {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
}
.popup .popup-box .search-box input {
    width: 180px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: 1px solid #c0bfbf;
}

.popup .popup-box .search-box .btn {
    background: #999;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    vertical-align: middle;
    margin-top: -2px;
}

.popup .popup-box .search-box .btn:hover {
    background: #888;
    color: #fff;
}
.popup .popup-box .popup-footer {
    margin-top: 20px;
    text-align: center;
}
.popup .popup-box .popup-footer .btn {
    display: inline-block;
    margin:0 10px;
    padding: 0 30px;
    background: #0188CC;
    color: #fff;
    font-size: 14px;
}
.popup .popup-box .popup-footer .btn:hover {
    background: #047dba;
}
.popup .popup-box .popup-footer .btn-cancel {
    background: #bbb;
}
.popup .popup-box .popup-footer .btn-cancel:hover {
    background: #999;
}
