@charset "utf-8";/* CSS Document*//* 代码前置*/
/*common*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	border: 0 none;
	margin: 0;
	padding: 0;
}
body {
	font: normal 12px/1.5 微软雅黑, Verdana, simsun, Sans-Serif,;
	font-size: 12px;
	color: #333;
	background: #f2f2f2;
}
body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
fieldset, img, .n_b {
	border: 0;
}
a {
	color: #333;
}
/* remember to define focus styles!*/:focus {
	outline: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
	font-style: normal;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	-webkit-appearance: none;
}
input[type="checkbox"] {
	-webkit-appearance: checkbox;
}
input[type="radio"] {
	-webkit-appearance: radio;
}
code, kbd, samp, tt {
	font-size: 100%;
}
/*@purpose To enable resizing for IE*//*@branch For IE6-Win, IE7-Win*/input, button, textarea, select {
*font-size: 100%;
}
body {
	line-height: 1.5;
}
ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup*/table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to highlight anchors and inserts somehow!*/:link, :visited, ins {
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
li, h1, h2, h3, h4, h5, h6, span, address, i {
	Font-style: normal;
	font-weight: normal;
}
.clear:after, .clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
.w1156 {
	width: 1156px;
	margin: 0 auto;
	overflow: hidden;
}
.header .header-1 {
	height: 50px;
	line-height: 50px;
	background-color: #3b4549;
	padding-right: 40px;
}
.header-1 ul {
	float: right;
}
.header-1 ul li {
	float: left;
	color: #fff;
	font-size: 12px;
}
.header-1 ul li.li-bd {
	border-right: 1px solid #ccc;
	height: 15px;
	margin: 17px 10px 0;
	overflow: hidden;
	width: 0;
}
.header-1 ul li a {
	color: #fff;
}
.header .header-2 {
	height: 100px;
	background-color: #fff;
	overflow: hidden;
}
.header-2 .logo {
	margin-top: 15px;
	float: left;
}
.header-2 .logo a {
	display: block;
}
.header-2 .info {
	float: left;
	font-size: 18px;
	color: #999;
	height: 50px;
	line-height: 50px;
	margin: 25px 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.header-2 ul {
	float: right;
}
.header-2 ul li {
	float: left;
	font-size: 16px;
	color: #666;
	line-height: 110px;
	padding: 0 15px;
	cursor: pointer;
}
.header-2 ul li a {
	display: block;
	color: #666;
}
.header-2 ul li.cur {
	border-bottom: 3px solid #41adfb;
	height: 97px;
}
.container {
	margin: 10px 0 0 0;
	overflow: hidden;
	min-height: 575px;
}
div.footer {
	background-color: #3b4549;
	height: 50px;
	line-height: 50px;
	width: 100%;
	margin-top: 20px;
}
div.footer p {
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 14px;
}
.divAccount{ min-height:500px;}
/*首页layout*/
.banner {
	overflow: hidden;
	background-color: #ff7000;
}
.banner img {
	display: block;
	margin: 0 auto;
}
.main {
	margin-top: 10px;
	background-color: #fff;
	min-height: 575px;
}
.main h1 {
	text-align: center;
	font-size: 30px;
	color: #276fc3;
	margin: 35px 0;
	font-weight: bold;
}
.main .progress {
	overflow: hidden;
	width: 915px;
	margin: 10px auto;
}
.main .progress li {
	float: left;
	width: 249px;
	height: 75px;
	line-height: 75px;
	background: url(../images/progress_off.png) 0 0 no-repeat;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.main .progress li.line {
	background: none;
	border: 2px solid #cbcbcb;
	width: 50px;
	height: 0;
	border-radius: 3px;
	margin: 35px 15px;
}
.main .progress li.cur {
	background: url(../images/progress_on.png) 0 0 no-repeat;
}
.index-text, .index-img {
	width: 650px;
	margin: 80px auto;
}
.index-text h3 {
	font-size: 22px;
	margin-bottom: 30px;
	color: #333;
}
.index-text p {
	margin: 0 120px;
	font-size: 18px;
	color: #333;
}
.index-text p a {
	color: #3f95fd;
	text-decoration: underline;
}
.index-text input[type="button"], .index-img input[type="button"] {
	width: 155px;
	height: 40px;
	color: #fff;
	background-color: #ff9f1d;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 0;
	margin: 45px auto 0;
	cursor: pointer;
	display: block;
}
.index-text input.off, .index-img input.off {
	background-color: #ccc;
	cursor: default;
}
.xlb-btn {
	width: 650px;
	margin: 0 auto;
}
.index-text .xlb-btn input.fl, .index-img .xlb-btn input.fl {
	margin-left: 40px;
}
.index-img i {
	display: block;
	width: 219px;
	height: 122px;
	margin: 0 auto;
}
.index-img i.busi-renzheng {
	background: url(../images/busi-renzheng.png) 0 0 no-repeat;
}
.index-img i.add-staff {
	background: url(../images/add-staff.png) 0 0 no-repeat;
}
.index-img i.staff-welfare {
	background: url(../images/staff-welfare.png) 0 0 no-repeat;
}
.index-img p {
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}
/*顶部，左侧菜单栏*/
.toptopbar {
	margin-bottom: 3px;
	background: url(../images/bg-repeat.jpg) 0 0 repeat-x;
}
.toptopbar ul {
	width: 1156px;
	margin: 0 auto;
	overflow: hidden;
}
.toptopbar ul li {
	float: left;
	width: 120px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background: url(../images/line1.png) right no-repeat;
}
.toptopbar ul li:last-child {
	background: none;
}
.toptopbar ul li.cur {
	background-color: #1d75df;
}
.toptopbar ul li a {
	display: block;
	color: #fff;
}
.toptopbar ul li a:hover {
	background-color: #1d75df;
}
.toptopbar ul li em {
	margin-right: 5px;
	margin-left: -10px;
	font-size: 16px;
}
.sidebar {
	float: left;
}
.sidebar ul {
	background-color: #3f94fd;
	width: 186px;
	overflow: hidden;
	min-height: 423px;
}
.sidebar ul li {
	position: relative;
	width: 186px;
	line-height: 63px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	background: url(../images/line2.png) bottom no-repeat;
}
.sidebar ul li:last-child {
	background: none;
}
.sidebar ul li.cur a {
	background: url(../images/cur-repeat.png) 0 0 repeat-y;
}
.sidebar ul li a {
	display: block;
	color: #fff;
}
.sidebar ul li a:hover {
	background: url(../images/cur-repeat.png) 0 0 repeat-y;
	text-decoration: none;
}
i.icon-right {
	position: absolute;
  display: block;
  width: 8px;
  height: 15px;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  background: url(../images/right.png) 0 0 no-repeat;
}
/*.sidebar i.icon-right {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
}*/
.mainmain {
	float: right;
	width: 958px;
}
div.page-accountSetup-row1 .title {
	overflow: hidden;
	padding: 0 2%;
	border-bottom: 1px solid #d9d9d9;
	width: 96%;
	line-height: 35px;
	font-weight: bold;
	font-size: 16px;
	color: #595757;
	margin: 20px auto auto;
	background: #fff;
	text-indent: 0;
}
div.page-accountSetup-row1 .title h4 {
	float: left;
	padding: 0 10px 5px;
	border-bottom: 5px solid #1ba1f5;
	font-size: 18px;
}
div.page-accountSetup-row2 .title {
	padding: 0 2%;
	overflow: hidden;
}
div.page-accountSetup-row2 .title h4 {
	float: left;
	padding: 0 10px 5px;
	border-bottom: 5px solid #1ba1f5;
	font-size: 18px;
 *margin-top: 20px;
}
.mainmain div.page-accountSetup-row1 .wrap .box .list label {
	width: 90px;
}
.renzheng_box dl.sm_dl {
	width: 31%;
}
.renzheng_box dl.m_dl {
	width: 31%;
	padding-left: 18px;
}
.renzheng_box dl.last_dl {
	width: 31%;
}
/*员工管理*/
.staff-box {
	width: 96%;
	margin: 0 auto;
}
.staff-box input[type="button"] {
	width: 120px;
	height: 30px;
	background-color: #ff9500;
	color: #fff;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	padding: 0;
	float: left;
	margin: 20px 20px 20px 0;
	cursor: pointer;
}
.staff-top {
	height: 80px;
}
.search-box {
	float: right;
	width: 400px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	margin: 18px 0;
	padding: 0 5px 0 15px;
}
.search-box label {
	font-size: 14px;
	color: #666;
	float: left;
}
.search-box input[type="text"] {
	float: left;
	border: none;
	height: 30px;
	line-height: 30px;
	width: 260px;
	margin: 5px 0 5px 15px;
	font-size: 14px;
	padding-left: 5px;
}
.staff-box .search-box input.search {
	float: right;
	width: 70px;
	border: 1px solid #41adfb;
	background-color: #fff;
	color: #41adfb;
	margin: 5px 0;
	cursor: pointer;
}
.staff-table table {
	width: 100%;
	margin-bottom: 20px;
}
.staff-table table tr th, .staff-table table tr td {
	border: 1px solid #dbdbdb;
	padding: 7px;
	text-align: center;
}
.staff-table a {
	color: #41adfb;
}
.staff-table a:hover {
	text-decoration: underline;
}
.staff-box input.del {
	float: none;
	display: block;
}
.staff-bottom {
	margin-bottom: 20px;
}
/*************** 分页样式 ***************/
.content-box a {
	height: 34px;
	padding: 0px 18px;
	border: 1px solid #E1E2E3;
	cursor: pointer;
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	overflow: hidden;
	margin-right: 9px;
	background-color: #ededed;
	color: #5F93CF;
	font-size: 12px;
}
.content-box a:hover {
	color: #333;
	background-color: #fff;
}
.content-box .fenye {
	float: right;
}
.fenye a {
	height: 34px;
	padding: 0px 18px;
	border: 1px solid #E1E2E3;
	cursor: pointer;
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	overflow: hidden;
	margin-right: 9px;
	background-color: #ededed;
	color: #333;
	font-family: 微软雅黑;
	font-size: 14px;
}
.fenye a:hover {
	color: #5F93CF;
	background-color: #fff;
}
/*************** 分页样式 ***************/

/*************** 弹框公共样式 ***************/
.bggray {
	background-color: #333;
	left: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	position: fixed;
	top: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	display: none;
}
.modal {
	background-color: #fff;
	position: fixed;
	z-index: 31;
	top: 50%;
	left: 50%;
	font-size: 14px;
	border-radius: 5px;
}
.modal-tit {
	height: 70px;
	line-height: 70px;
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
}
.modal-tit h4 {
	font-size: 16px;
	color: #666;
	float: left;
	height: 60px;
	line-height: 80px;
	margin-left: 20px;
	padding: 0 10px 5px;
	border-bottom: 5px solid #1ba1f5;
}
.modal-tit .close {
	background: url(../images/close.png) 0 0 no-repeat;
	display: block;
	float: right;
	width: 32px;
	height: 32px;
	margin: 19px;
	cursor: pointer;
}
.modal-con {
	padding: 30px 30px 10px;
}
.modal-con ul {
	overflow: hidden;
}
.modal-con ul li {
	width: 50%;
	float: left;
	margin-bottom: 15px;
	line-height: 30px;
}
.modal-con ul li.wp100 {
	width: 100%;
}
.modal-con ul li label {
	float: left;
	width: 80px;
	color: #666;
	text-align: right;
}
.modal-con ul li input[type="text"] {
	float: left;
	width: 180px;
	height: 30px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 5px;
	color: #999;
}
.modal-con .not-null {
	float: left;
	color: #f00;
	margin-left: 10px;
}
.modal-con input[type="radio"], .modal-con input[type="checkbox"] {
	vertical-align: middle;
	margin: -2px 10px 1px 0;
	cursor: pointer;
}
.modal-con input[type="radio"].ml30 {
	margin-left: 30px;
}
.modal-con ul li a.choose {
	display: block;
	float: left;
	width: 85px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
	background-color: #ccc;
	color: #fff;
	margin-right: 5px;
}
.modal-con ul li a.choose.cur {
	background-color: #41adfb;
}
.modal-con ul li textarea {
	border: 1px solid #dbdbdb;
	padding: 5px;
	max-width: 175px;
	min-width: 175px;
	max-height: 55px;
	min-height: 55px;
	border-radius: 5px;
	color: #999;
}
.modal-con ul li.wp100 textarea {
	max-width: 495px;
	min-width: 495px;
}
.modal-btn {
	margin: 0 0 20px;
	text-align: center;
}
.modal-btn input {
	width: 120px;
	height: 35px;
	color: #fff;
	padding: 0;
	margin: 0 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.modal-btn input.off {
	background-color: #ccc;
}
.modal-btn input.on {
	background-color: #ff9500;
}
/*************** 弹框公共样式 ***************/

/*编辑弹框*/
.edit-modal {
	width: 700px;
	height: 400px;
	margin-left: -350px;
	margin-top: -200px;
}
/*未选中删除员工*/
.del-modal {
	width: 700px;
	height: 230px;
	margin-left: -350px;
	margin-top: -115px;
}
.del-modal .modal-con p {
	text-align: center;
	color: #666;
	margin: 25px 0;
}
/*批量删除弹框*/
.lotdel-modal {
	width: 700px;
	height: 260px;
	margin-left: -350px;
	margin-top: -130px;
}
.lotdel-modal a {
	color: #41adfb;
}
.lotdel-modal .modal-con p {
	text-align: center;
	color: #666;
	margin: 25px 0;
}
.lotdel-modal .modal-btn {
	margin-top: 20px;
}
/*添加员工弹框*/
.add-modal {
	width: 700px;
	height: 400px;
	margin-left: -350px;
	margin-top: -200px;
}
/*批量添加员工弹框*/
.lotadd-modal {
	width: 700px;
	height: 290px;
	margin-left: -350px;
	margin-top: -145px;
}
.lotadd-modal .tip {
	line-height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
}
.lotadd-modal .tip span {
	float: left;
	margin-right: 15px;
}
.lotadd-modal .tip input[type="button"] {
	height: 35px;
	color: #fff;
	padding: 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}
.lotadd-modal .tip input.on {
	width: 120px;
	background-color: #ff9500;
}
.lotadd-modal .tip input.off {
	width: 100px;
	height: 30px;
	background-color: #ccc;
}
.lotadd-modal .tip p {
	float: left;
	color: #656565;
	margin-left: 15px;
}
.lotadd-modal .tip .upload {
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	float: left;
	padding: 5px;
	line-height: 30px;
}
.lotadd-modal .tip .upload input[type="text"] {
	width: 140px;
	height: 30px;
	color: #656565;
	border: none;
	padding-left: 15px;
}
.lotadd-modal .modal-btn {
	margin-top: 20px;
}
/*急速开票*/
.jskp .title a {
	color: #41adfb;
	font-size: 14px;
	border-right: 1px solid #41adfb;
	padding: 0 10px;
}
.jskp .title a:last-child {
	border-right: none;
}
.jskp .title a:hover {
	text-decoration: underline;
}
.jskp div.page-accountSetup-row2 .wrap .box2 {
	margin: 0 auto 15px;
}
div.page-accountSetup-row2 .wrap .box2 ul li:first-child {
	border: none;
}
.jskp .wrap .box2 ul li .ques {
	font-size: 14px;
	font-weight: bold;
	color: #4b4b4b;
	margin: 0 0 15px 10px;
}
.jskp .wrap .box2 ul li .answ {
	font-size: 12px;
	color: #666;
	margin: 0 10px;
}
.jskp .tit {
	text-align: center;
	overflow: hidden;
	width: 230px;
	margin: 0 auto;
	padding-left: 120px;
	height: 97px;
}
.jskp .tit p {
	font-size: 24px;
	color: #4b4b4b;
	float: left;
	margin: 30px 0;
	width: 192px;
}
.jskp .tit a.doubt {
	background: url(../images/doubt.png) 0 0 no-repeat;
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	margin: 40px 10px;
}
.jskp .tit input {
	position: absolute;
	right: 0;
	top: 30px;
	width: 85px;
	height: 40px;
	color: #fff;
	background-color: #ff9f1d;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}
.jskp .pay, .jskp .finance, .jskp .manager {
	padding-bottom: 30px;
}
.jskp .pay, .jskp .finance {
	border-bottom: 1px solid #dbdbdb;
}
.jskp .pay {
	position: relative;
}
.jskp .con {
	width: 500px;
	margin: 0 auto;
}
.jskp .con p {
	line-height: 30px;
	margin-bottom: 30px;
}
.jskp .con p label {
	float: left;
	width: 120px;
	line-height: 32px;
	text-align: right;
	color: #575757;
	font-size: 14px;
}
.jskp .con p input {
	width: 350px;
	height: 30px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 5px;
}
.jskp-banner.banner {
	background: url(../images/banner-bg.jpg) 0 0 repeat;
}
.jskp-guide.index-text {
	width: 940px;
	overflow: hidden;
}
.jskp-guide .guide-img {
	margin: 0 52px;
}
.jskp-guide a.problem-link {
	display: block;
	width: 80px;
	margin: 25px auto 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #41adfb;
	color: #41adfb;
	font-size: 14px;
	background: url(../images/doubt.png) right 1px no-repeat;
}
.jskp-guide .xlb-step {
	width: 33%;
	float: left;
}
.jskp-guide .xlb-step-icon {
	display: block;
	margin: 0 auto;
}
.jskp-guide .xlb-step-img {
	display: block;
	margin: 25px auto;
}
.jskp-guide p.xlb-step-text {
	margin: 0;
	text-align: center;
}
.jskp-guide .xlb-step1 .xlb-step-img {
	margin-top: 55px;
}
.guide-btn {
	overflow: hidden;
	width: 270px;
	margin: 0 auto;
}
.index-text.jskp-guide .guide-btn input {
	float: left;
	width: 115px;
	margin: 45px 10px 0;
}
.guide-form ul li {
	width: 50%;
	float: left;
	line-height: 30px;
	position: relative;
}
.guide-form ul li em {
	color: #f00;
	float: left;
	font-size: 16px;
	line-height: 32px;
}
.guide-form ul li label {
	float: left;
	width: 120px;
	line-height: 32px;
	text-align: right;
	font-size: 14px;
	color: #666;
}
.guide-form ul li input {
	float: right;
	width: 320px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 5px;
	margin-bottom: 30px;
	color: #999;
}
.guide-form ul li select {
	float: right;
	width: 328px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 5px;
	margin-bottom: 30px;
	color: #999;
	background: transparent;
}
.guide-form ul li.ssq .ssq-sel {
	float: right;
	overflow: hidden;
	width: 328px;
 *margin-bottom: 30px;
}
.guide-form ul li.ssq .ssq-sel select {
	width: 155px;
	float: left;
}
.guide-form ul li.ssq .ssq-sel .mr18 {
	margin-right: 18px;
}
.pr {
	position: relative;
	overflow: hidden;
	float: left;
}
.mb30 {
 *margin-bottom: 30px;
}
.guide-form i.drop {
	background: url(../images/drop.png) 0 0 no-repeat;
	position: absolute;
	right: 15px;
	top: 13px;
	width: 10px;
	height: 8px;
}
.jskp-me-text {
	overflow: hidden;
	line-height: 70px;
	border-bottom: 1px solid #dbdbdb;
	margin-left: 20px;
}
.jskp-me-text span {
	font-size: 18px;
	color: #666;
}
.jskp-me-text p {
	font-size: 24px;
}
.jskp-me-text p em {
	margin-right: 5px;
}
/*.jskp-me-text a {
	font-size: 14px;
	color: #41adfb;
	position: relative;
	padding-right: 35px;
}*/
.jskp-me-text a:hover {
	text-decoration: underline;
}
.jskp-me-text a i.icon-right {
	border: 2px solid #41adfb;
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	right: 15px;
	top: 50%;
	margin-top: -7px;
}
.jskp-me-img img {
	display: block;
	margin: 20px auto;
}
.mainmain.wp100 {
	width: 100%;
}
.qyrz {
	overflow: hidden;
}
.qyrz h4 {
	font-size: 24px;
	text-align: center;
	margin: 30px 0;
}
.qyrz .way {
	width: 50%;
	float: left;
	margin: 40px 0;
}
.qyrz .way img {
	display: block;
	margin: 0 auto;
	margin-bottom: 55px;
}
.qyrz .way p {
	text-align: center;
	font-size: 16px;
}
.qyrz .way input {
	display: block;
	width: 155px;
	height: 40px;
	color: #fff;
	background-color: #ff9f1d;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 0;
	margin: 45px auto 0;
	cursor: pointer;
}
/*首页*/
.index-banner.banner {
	background-color: #fcac45;
}
.index-main.main {
	background-color: #f2f2f2;
}
.w1040 {
	width: 1040px;
	overflow: hidden;
	margin: 0 auto;
}
.main-left {
	width: 725px;
	float: left;
	background-color: #fff;
}
.main-right {
	width: 310px;
	min-height: 614px;
	float: right;
	background-color: #fff;
}
.main-left .title {
	overflow: hidden;
	padding: 0 2%;
	border-bottom: 1px solid #d9d9d9;
	width: 96%;
	line-height: 35px;
	font-weight: bold;
	font-size: 16px;
	color: #595757;
	margin: 20px auto auto;
	background: #fff;
	text-indent: 0;
}
.main-left .title h4 {
	float: left;
	padding: 0 10px 5px;
	border-bottom: 5px solid #1ba1f5;
	font-size: 18px;
}
.service-list {
	width: 672px;
	margin: 10px auto;
}
.service-list li {
	width: 204px;
	height: 244px;
	border-radius: 5px;
	background-color: #ededed;
	overflow: hidden;
	float: left;
	margin: 10px;
	-webkit-transition: .3s;
	transition: .3s;
}
.service-list li:hover {
	-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.2);
	box-shadow: 0 15px 30px rgba(0,0,0,0.2);
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.service-list li img {
	display: block;
	margin: 5px auto;
}
.service-list li a {
	display: block;
	line-height: 47px;
	font-size: 14px;
	color: #666;
	padding-left: 20px;
	position: relative;
}
.main-right .right-icon {
	margin: 40px 0 0;
}
.main-right .right-icon img {
	display: block;
	margin: 0 auto 30px;
}
.main-right .right-icon p {
	text-align: center;
	font-size: 22px;
	color: #41adfb;
	font-weight: bold;
}
.main-right .username {
	text-align: center;
	font-size: 16px;
	color: #666;
	margin-bottom: 30px;
}
.main-right .right-yue {
	overflow: hidden;
}
.main-right .right-yue .yue {
	width: 50%;
	float: left;
	color: #666;
	font-size: 14px;
}
.yue .tit {
	display: block;
	margin-left: 25px;
}
.yue em {
	color: #ff7000;
}
.yue em.f24 {
	font-size: 24px;
	margin-left: 25px;
}
.yue em .f18 {
	font-size: 18px;
}
.main-right .right-yue input {
	display: block;
	margin: 0 auto;
	background-color: #ff7000;
	color: #fff;
	width: 160px;
	height: 45px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}
.main-right .right-yue .index-head {
	display: block;
	float: left;
	margin-left: 40px;
}
.main-right .right-yue .renzheng-status {
	float: left;
	font-size: 18px;
	color: #666;
	font-weight: bold;
	margin: 15px 10px 0;
}
.main-right .right-yue em.orange {
	color: #ff7000;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 0 15px;
}
.main-right .right-yue em.red {
	color: #f00;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 0 15px;
}
/*员工福利*/
.ygfl div.page-accountSetup-row2 .wrap {
	background: url(../images/fuli-bg.jpg) 10px 10px no-repeat;
	padding: 10px;
	height: 856px;
}
.ygfl-box {
	background-color: #6829e9;
	width: 918px;
	position: relative;
	top: 448px;
	padding: 0 10px 20px;
}
.ygfl-list {
	overflow: hidden;
}
.ygfl-list li {
	width: 306px;
	float: left;
	overflow: hidden;
	padding-bottom: 30px;
}
.ygfl-list li a {
	display: block;
}
.ygfl-list li img {
	display: block;
	margin: 0 auto;
}
/*.ygfl-list li img:hover{
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}*/
.ygfl-btn {
	width: 200px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background-color: #ffa01e;
	border: none;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
	cursor: pointer;
}

/*闪惠--商服平台*/
.container.mt0{
	margin-top: 0;
}
.toptopbar.gray{
	background: #e5e5e5;
	*height: 40px;
}
.toptopbar.gray ul li{
	width: 85px;
  height: 30px;
  line-height: 30px;
  margin: 5px 20px 5px 0;
  background: none;
}
.toptopbar.gray ul li a{
  color: #333;
}
.toptopbar.gray ul li.cur a{
	color: #fff;
}
.toptopbar.gray ul li a:hover,
.toptopbar.gray ul li.cur{
  border-radius: 5px;
  background: #434343;
  color: #fff;
}
.bfff{
	background-color: #fff;
}
.mt10{
	margin-top: 10px;
}
.main-tit{
	padding-top: 20px;
	*padding: 20px 40px 0;
}
.main-tit ul{
	border-bottom: 1px solid #dbdbdb;
	height: 40px;
}
.main-tit ul li{
	float: left;
	font-size: 14px;
	width: 160px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
}
.main-tit ul li.cur{
	border-bottom: 3px solid #41adfb;
}
.condition {
	padding: 20px 0;
	margin: 0 40px;
	overflow: hidden;
	position: relative;
}
.condition-group .line {
	height: 35px;
	margin-bottom: 20px;
	overflow: hidden;
}
.condition-group .line li {
	width: 33%;
	height: 35px;
	line-height: 35px;
	float: left;
	overflow: hidden;
	position: relative;
}
.line li label {
	display: block;
	float: left;
	width: 30%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	margin-right: 3%;
	font-size: 14px;
}
.line li select {
	width: 66%;
	height: 35px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-radius: 0;
	padding: 0 5px;
	font-size: 14px;
	float: left;
	color: #8d8d8d;
}
.line li input {
	width: 64%;
	height: 33px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-radius: 0;
	padding: 0 0 0 5px;
	font-size: 14px;
	float: left;
	color: #8d8d8d;
}
i.drop {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 12px;
  height: 7px;
  background: url(../images/drop.png) 0 0 no-repeat;
}
.condition-group .line li.date-block {
	width: 66%;
	height: 35px;
	line-height: 35px;
	float: left;
	overflow: hidden;
	position: relative;
}
.line li.date-block label {
	display: block;
	float: left;
	width: 15%;
	height: 35px;
	line-height: 35px;
	text-align: right;
	margin-right: 1.5%;
	font-size: 14px;
}
.date-block .pos-rel {
	position: relative;
	overflow: hidden;
	float: left;
	width: 33%;
}
.date-block span {
	display: block;
	float: left;
	width: 5%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	margin: 0 7px;
}
.line li.date-block input {
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-radius: 0;
	padding: 0 0 0 5px;
	font-size: 14px;
	box-sizing: border-box;
}
.date-block i.date-icon {
	background: url(../images/date.png) 0 0 no-repeat;
	position: absolute;
	top: 3px;
	width: 28px;
	height: 28px;
	right: 5%;
}
.search-btn-group {
	float: right;
}
input.fill-btn{
	width: 120px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #3f95fe;
	font-size: 14px;
	margin: 0 10px;
	cursor: pointer;
	color: #fff;
	background-color: #3f95fe;
}
input.block-btn{
	width: 120px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #3f95fe;
	font-size: 14px;
	margin: 0 10px;
	cursor: pointer;
	color: #3f95fe;
	background-color: #fff;
}
.result {
	position: relative;
	overflow: hidden;
	margin: 0 50px 20px;
}
.res-table table {
	margin-top: 10px;
	width: 100%;
}
.res-table table tr th {
	border: 1px solid #dbdbdb;
	background-color: #f5f5f5;
	font-size: 15px;
	padding: 5px;
	text-align: center;
}
.res-table table tr th.w-25 {
	width: 25%;
}
.res-table table tr td {
	border: 1px solid #dbdbdb;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	color: #666;
}
.res-table table tr td a {
	color: #41adfb;
	margin: 0 10px;
}
.res-table table tr td a:hover {
	text-decoration: underline;
	color: #41adfb;
}
.main-tit h3{
	height: 55px;
	line-height: 55px;
	font-size: 18px;
	margin: 0 40px;
	border-bottom: 1px solid #dbdbdb;
}
.nb-table table{
	width: 100%;
	font-size: 14px;
	margin: 20px 0 30px;
}
.nb-table table tr th{
	vertical-align: top;
	text-align: right;
	padding: 5px;
	color: #333;
	line-height: 40px;
}
.nb-table table tr th.wp15{
	width: 15%;
}
.nb-table table tr th.red,
.nb-table table tr td.red{
	color: #f00;
}
.nb-table table tr td{
	vertical-align: top;
	text-align: left;
	padding: 5px;
	color: #666;
}
.nb-table table tr td p{
	line-height: 40px;
}
.card-cover{
	margin-top: 13px;
}
.card-cover .cover-main {
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  height: 149px;
  width: 268px;
}
.cover-main .logo-area {
	padding: 25px 50px 20px 70px;
	position: relative;
}
.cover-main .logo-area .logo {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	left: 15px;
}
.cover-main .logo-area .logo img {
	display: block;
	width: 100%;
	height: 100%;
}
.cover-main .logo-area .store-name {
	font-weight: bolder;
}
.cover-main .logo-area .card-name {
	font-weight: lighter;
	font-size: 12px;
	line-height: 30px;
}
.cover-main .msg-area {
	padding: 2px 20px 10px;
}
.cover-main .msg-area .cover-num {
	font-size: 17px;
}
.m040{
	margin: 0 40px;
}
.btn-group{
	text-align: center;
	margin: 10px 0 25px;
}
.pagepage{
	text-align: center;
	margin: 30px 0;
}
.page-big{
	width: 90px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #999;
	border-radius: 5px;
	margin: 0 10px;
	cursor: pointer;
}
.page-num{
	margin: 0 20px;
	display: inline;
}
.page-small{
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	color: #999;
	margin: 0 5px;
	cursor: pointer;
}
.page-big:hover,
.page-small:hover{
	border: 1px solid #3f95fe;
	color: #3f95fe;
}
.res-table .daochu-tishi{
	color: #f00;
	font-size: 14px;
	line-height: 40px;
}
.res-table input[type="button"]{
	margin: 0 0 20px;
}
